*{
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  background-image: linear-gradient(75deg, #454248 0%, #111727 100%);
  /* background-image: linear-gradient(75deg, #502d6f 0%, #84efea 100%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app { 
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

}
.main-page{
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  height: 25px;
  margin-bottom:5px;
}
.spacing-title{
  padding: 1.5rem;
}
.hashtag-title{
  font-size: 1.25rem;
  color: #cacaca
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo-area{
  margin-right: auto;
  margin-left: auto;
  padding: 2px;
  transform: scale(1.2);
}

.spacing{
  padding:1.15rem 1.5rem;
}

.mainTitle{
  margin: auto;
  width: 550px;
  padding: 25px 10px;
  border: 1px solid white;
}

.titleStyle{
  font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.22rem;
    color: white;
}
.mottoStyle{
  font-size:0.9rem;
  line-height: 1.5rem;
  color:white;
  text-align: justify;
}

.wrapper{
  margin-top: 80px;
  position: relative;
}

.hovercard{
    display: block;  
    grid-template-columns: 2fr 1fr 1fr;  
    grid-template-rows: 1fr 1fr;
    padding: 4rem 2rem;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    min-height: 304px;
    background-color: #e6e6e6;
    margin: 0 100px;
    border-radius: 12px
}
.instruction{
  padding: 0rem 1rem;
  position: relative;
  margin:0 100px;
  text-align: right;
}
.inst-style{
  color:white;
  margin-bottom: 0.45rem;
  font-size: 0.85rem;
}

.backArrow{
  width: 120px;
  text-align: center;
  font-size: 0.8rem;
  padding: 5px 15px;
  border-radius: 4px;
  background-color:#903587;
  color:white;
  transition: 0.3s;
  position: fixed;
  right: 115px;
  bottom: 45px;
}

.backArrow > a, .backArrow > a:hover{
  text-decoration: none;
  color:white;
}
.backArrow:hover{
  background:#80529e;
}
.backArrow > img{
  width: 1rem;
  fill:white;
}

.info-button{
  width: 85%;
}
.info-button > a{
  color:white;
}

.info-button > a:hover, .info-button > a:focus{
  text-decoration: none;
  color: white;
}

.section-title{
    color: #3a1c4a !important;
    font-weight: 700;
    letter-spacing: 1.05px;
}
.placard-style{
  width: 300px;
}

.button-rect{
    position: relative;
    text-align: center;
    line-height: 1rem;
    padding: 1rem 3rem;
    border: 3px solid #40325a;
    margin: 1.2rem auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
    width: 740px;
}

@media only screen and (max-width: 600px) {
  .hovercard{
    margin: 0px 45px 50px 45px;
  }
  .instruction{
    text-align: center;
    width: 100%;
    margin:0;
  }
  .inst-style{
    font-size: 0.75rem;
  }
  .section-title{
    text-align: center;
  }
  .placard-style{
    width:100%;
    text-align: center;
    margin: 1rem auto;
  }
  .section{
    margin:0 auto;
  }
  .section-title{
    font-size: 1rem;
  }
  .button-rect{
    width: 320px;
  }
  .image-holder > img{
    width: 100% !important;
  }
  .backArrow{
    width: 65px;
    font-size: 0.8rem;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #903587;
    position: fixed;
    right: 20px;
    bottom: 45px
  }
  .back-text{
    display: none;
  }

  .logo-area{
    position: relative;
    text-align: center;
  }
  .art-image-holder > img{
    width: 100% !important;
  }
}


@media only screen and (max-width: 360px) {
  .button-rect > a > p{
    font-size:0.85rem;
  }
  .hovercard{
    margin: 0px 20px 50px 20px;
  }
  .instruction{
    text-align: center;
    width: 100%;
    margin:0;
  }
  .inst-style{
    font-size: 0.75rem;
  }
  .section-title{
    text-align: center;
  }
  .placard-style{
    width:100%;
    text-align: center;
    margin: 1rem auto;
  }
  .section{
    margin:0 auto;
  }
  .section-title{
    font-size: 1rem;
  }
  .button-rect{
    width: 220px;
    padding: 1rem 1.5rem;
  }
  .image-holder > img{
    width: 100% !important;
  }
  .backArrow{
    width: 45px;
    font-size: 0.8rem;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: #903587;
    position: fixed;
    right: 10px;
    bottom: 45px;
  }
  .back-text{
    display: none;
  }

  .logo-area{
    position: relative;
    text-align: center;
  }
  .art-image-holder > img{
    width: 100% !important;
  }
}




.button-rect > a, .button-rect > a:hover, .button-rect > a:focus {
  text-decoration: none;
  color: black;
}

.button-rect:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #f9f4ec;
}

.image-holder{
  margin: 0 auto;
}
.image-holder > img{
  width: 35%;
  height:auto;
  object-fit: cover;
}


.art-image-holder > img{
  width: 50%;
  height:auto;
  object-fit: cover;
}