*{
  font-family: 'Open Sans', sans-serif;
}

body {
  height: 100%;
  background-image: linear-gradient(75deg, #454248 0%, #111727 100%);
  /* background-image: linear-gradient(75deg, #502d6f 0%, #84efea 100%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app { 
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

}
.main-page{
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.header {
  height: 25px;
  margin-bottom:10px;
}
.spacing-title{
  padding: 1.5rem;
}
.hashtag-title{
  font-size: 1.25rem;
  color: #cacaca
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.logo-area{
  margin-right: auto;
  margin-left: auto;
  padding: 2px;
  transform: scale(1.4);
}

.spacing{
  padding:1.35rem 1.35rem;
}

.card-spacing{
  padding:0.85rem 1.35rem;
}

.mainTitle{
  margin: auto;
}

.titleStyle{
    font-size: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.22rem;
    line-height: 2rem;
    border: 1px solid white;
    padding:1.35rem 1.35rem;
    color: white;
}
.mottoStyle{
  font-size:0.9rem;
  line-height: 1.5rem;
  color:white;
  text-align: justify;
}

.wrapper{
  margin-top: 80px;
  position: relative;
}

.card-wrapper{
  position: relative;
}

.hashtag-holder{
  width:300px;
  position: relative;
  text-align: left;
}
.hash-style{
  color:rgb(141, 91, 91);
  margin-bottom: 0;
  font-size: 0.75rem;
  font-weight: 600;
}
.hovercard{
    display: block;  
    grid-template-columns: 2fr 1fr 1fr;  
    grid-template-rows: 1fr 1fr;
    padding: 4rem 2rem;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    min-height: 304px;
    background-color: #e6e6e6;
    margin: 0 100px;
    border-radius: 12px
}
.instruction{
  padding: 0rem 1rem;
  position: relative;
  margin:0 100px;
  text-align: right;
}
.inst-style{
  color:white;
  margin-bottom: 0.45rem;
  font-size: 0.85rem;
}

.backArrow{
  z-index: 2;
    width: 70px;
    text-align: center;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #903587;
    color: white;
    transition: 0.3s;
    position: fixed;
    right: 15px;
    bottom: 35px;
}

.backArrow > a, .backArrow > a:hover{
  text-decoration: none;
  color:white;
}
.backArrow:hover{
  background:#80529e;
}
.backArrow > img{
  width: 1rem;
  fill:white;
}

.section-title{
    color: #3a1c4a !important;
    font-weight: 700;
    letter-spacing: 1.05px;
}



.placard-style{
    background-color: #f7f7f7; 
    padding: 1.25rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.placard-style:hover{
  background-color: linen;
  cursor: pointer;
  transition: 0.3s;
}

.placard-style > a{
  color:black;
  transition: 0.3s;

}

h5.cardName{
  margin: 0;
  font-size: 1.05rem;
}

.placard-style > a:hover, .placard-style > a:focus{
  text-decoration: none;
  color: black; 
}
.cardBody{
  flex: 1 1 auto;
  min-height: 1px;
}


.book-rect{
  position: relative;
  text-align: center;
  line-height: 1rem;
  padding: 1rem;
  border: 3px solid #40325a;
  margin: 1.2rem auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 12px;
  font-size: 1rem;
  height:350px
}
.book-title{
  line-height: 1.5rem;
}

.button-rect{
    position: relative;
    text-align: center;
    line-height: 1rem;
    padding: 1rem 3rem;
    border: 3px solid #40325a;
    margin: 1.2rem auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 12px;
    width: 740px;
}

.footer-wrapper{
  position:absolute;
  bottom:0;
  width:100%;
  background-color: #983c06;
  padding: 0.5rem;
  display:table; 
}
.footer-wrapper > span{
  font-size:0.75rem;
  color: white;
  display:table-cell;
  vertical-align:middle;
}

/* .art-image-holder > img{
  width: 50%;
  height:auto;
  object-fit: cover;
} */
.image-holder{
  margin: 0 auto;
  height:75%;
}
.image-holder > img{
  max-width: 100%;
  max-height: 100%;
}

@media only screen  and (max-width: 720px) {
  .hovercard{
    margin: 0px 45px 50px 45px;
  }
  .instruction{
    text-align: center;
    width: 100%;
    margin:0;
  }
  .inst-style{
    font-size: 0.75rem;
  }
  .section-title{
    text-align: center;
  }
  .placard-style{
    width:100%;
    text-align: center;
    margin: 0.85rem auto;
  }
  h5.cardName{
    margin: 0;
    font-size: 1.25rem;
  }
  .hashtag-holder{
    text-align: center;
    width: 0;
  }
  .section{
    margin:0 auto;
  }
  .section-title{
    font-size: 1rem;
  }
  .button-rect{
    width: 90%;
    padding: 1rem 1.5rem;
    display: flex;
  }
  .image-holder > img{
    width: auto;
    height: 85%;
  } 
  .backArrow{
    width: 65px;
    font-size: 0.8rem;
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #903587;
    position: fixed;
    right: 20px;
    bottom: 45px
  }
  .back-text{
    display: none;
  }

  .logo-area{
    position: relative;
    text-align: center;
  }
  .art-image-holder > img{
    width: 100% !important;
  }
  .titleStyle{
    font-size: 1.25rem;
    padding: 1.35rem 1.15rem;
    margin: 0rem 1.35rem;
  }
  footer{
    margin-top:1.5rem;
  }
  .footer-wrapper > span{
    font-size: 0.7rem;
  }
}


@media only screen and (max-width: 400px) {
  .button-rect > a > p{
    font-size:0.85rem;
  }
  .hovercard{
    margin: 0px 20px 50px 20px;
  }
  .instruction{
    text-align: center;
    width: 100%;
    margin:0;
  }
  .inst-style{
    font-size: 0.75rem;
  }
  .hashtag-holder{
    text-align: center;
    width: 0;
  }
  .section-title{
    text-align: center;
  }
  .placard-style{
    width:100%;
    text-align: center;
    margin: 0.85rem auto;
  }

  .section{
    margin:0 auto;
  }
  .section-title{
    font-size: 1rem;
  }
  .button-rect{
    width: 220px;
    padding: 1rem 1.5rem;
  }
  .image-holder{
   height: 60%;
   width: auto;
  }
  .backArrow{
    width: 45px;
    font-size: 0.8rem;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: #903587;
    position: fixed;
    right: 10px;
    bottom: 45px;
  }
  .back-text{
    display: none;
  }

  .logo-area{
    position: relative;
    text-align: center;
  }
  .art-image-holder > img{
    width: 100% !important;
  }
}




.button-rect > a, .button-rect > a:hover, .button-rect > a:focus,
.book-rect > a, .book-rect > a:hover, .book-rect > a:focus  {
  text-decoration: none;
  color: black;
}

.button-rect:hover,.book-rect:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #f9f4ec;
}

